doctype html
html
	head
		title BackersLab
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body
		h1 BackersLab
		a(href='login') Login
		a(href='signup') Signup