- user = typeof(udata) != 'undefined' ? udata : { }

doctype html
html
	head
		title Backers Directory
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
	body

	block content
	block scripts