doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    title Sign Up | BackersLab
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(href='login-style/flexslider.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='login-style/line-icons.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='login-style/elegant-icons.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='login-style/lightbox.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='login-style/bootstrap.min.css', rel='stylesheet', type='text/css', media='all')
    link(href='login-style/theme.css', rel='stylesheet', type='text/css', media='all')
    link(href='login-style/custom.css', rel='stylesheet', type='text/css', media='all')
    //if gte IE 9
      link(rel='stylesheet', type='text/css', href='login/ie9.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700', rel='stylesheet', type='text/css')
    script(src='login-style/modernizr-2.6.2-respond-1.1.0.min.js')
  body
    .loader
      .spinner
        .double-bounce1
        .double-bounce2
    .nav-container
    .main-container
      header.signup
        .background-image-holder.parallax-background
          img.background-image(alt='Background Image', src='login-style/hero16.jpg')
        .container
          .row
            .col-md-10.col-md-offset-1.col-sm-12.text-center
              h1.text-white
                | Create a new account
                br
          .row.text-center
            .col-sm-12.text-center
              form(method="post")#account-form.photo-form-wrapper.clearfix
                .col-md-3.col-sm-4(style="float: none; margin: 0 auto;")
                  .row
                    input.form-name(type='text', placeholder='Your Name', name='name')
                  .row
                    input.form-email(type='text', placeholder='Email Address', name='email')
                  .row
                    input.form-location(type='hidden', name='country', value='Please select a country')
                  .row
                    input.form-user(type='text', placeholder='Username', name='user')
                  .row
                    input.form-password(type='password', placeholder='Password' name='pass')
                  .row
                    .col-md-3.col-md-offset-2.col-sm-4.col-sm-offset-4.text-center
                      input.btn.btn-primary.btn-filled(type='submit' data-toggle='modal' data-target='#modal-alert')#account-form-btn2.btn
              span.text-white
                | Questions? Contact us: support@backerslab.com
                br
                br
                br
                br
    .footer-container
    include modals/alert
    include modals/form-errors
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script(src='login-style/jquery.plugin.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
    script(src='login-style/jquery.flexslider-min.js')
    script(src='login-style/smooth-scroll.min.js')
    script(src='login-style/skrollr.min.js')
    script(src='login-style/spectragram.min.js')
    script(src='login-style/scrollReveal.min.js')
    script(src='login-style/isotope.min.js')
    script(src='login-style/twitterFetcher_v10_min.js')
    script(src='login-style/lightbox.min.js')
    script(src='login-style/jquery.countdown.min.js')
    script(src='login-style/scripts.js')
    script(src='/js/views/signup.js')
    script(src='/js/controllers/signupController.js')
    script(src='/js/form-validators/accountValidator.js')